p {
    background-color: aqua;
    border: 1px solid red;
    overflow: hidden;
}

img {
    float: right;
    height: 75px;
    width: 75px;
}

h5 {
    clear: right;
    border: 6px solid blue;
    background-color: silver;
}